html{
	background-color: #262623; /* Bytte bakgrunnfarge.*/ 
}
body{
	max-width: 720px;
	color: #363636;
	align-content: center;
	margin: auto;
}
h1{
	font-family: helvetica ,verdana; 
	font-size: 36px;
	text-align: center;
	color: #363636; /*Skrift-farge*/
}
div{
	background-color: #E2E0D0;
	max-width: 720px; 
	border-radius: 28px; 
	padding: 15px 30px 15px 30px; 
	margin-bottom: 10px;
}
div.heading{
	text-align: center;
    margin-top: 10px;
}
h2{
	font-family: helvetica ,verdana; /* Web-safe font */
}
h3{
	font-family: helvetica ,verdana; /* Web-safe font */
}
#contents > h2 {
	margin: 0px;
	margin-bottom: 5px;
}
#contents > ul{
	margin: 0px;
	padding-left: 20px; 
}
p{
	font-family: verdana; /* Web-safe font */
	line-height: 1.5em;
	font-size: 18px;
	margin-left: 0px;
}
ul{
	font-family: verdana;
	line-height: 1.2em;
	color: #363636;
}
a{
	font-family: verdana;
	line-height: 1.2em;
	color: #363636;
	text-decoration: none;
	padding-left: 
}
a:hover{
	margin-left: 8px;
}
