/* Kan kopieres inn i main.css ved merge */
div.footer{
	color: #FFFFFF;
	height: 25%; 
	background-color: #000000;
	width: calc(100% -20px);
	bottom: 0px;
	margin: 0px;
	left: 0px;
	position: absolute;
	padding: 20px;
	text-align: center;
}
div.footer > div{
	width: 15%;
	height: 250px;
	position: static;
	display: block;
	float: left;
	margin: 0px 2%;
}
