
/*---Navbar---*/
#navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #eee;
}
#navbar li {
	float: left;
	font-family: "Lucida Sans Unicode";
	text-transform: uppercase;
	font-weight: bold;
	border-right: 1px inset #999;
	font-size: 14px;
}
#navbar li a{
	display: block;
	color: grey;
	text-align: center;
	padding: 14px 30px;
	text-decoration: none;

}

#navbar{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
}


#navbar li a:hover{
	color: #00cc66;
}
